
/***MATERIAL DE APOIO CSS - Arquivo divigrid para alinhamento de páginas web. 
Atualizado: MarciaMoreno - Nazaré do Piauí/PI - 21/05/2024 - BRASIL

	**1920px é a largura da página Web (resolução maxima)
	*** A definição auto se adapta ao dispositivo da conexão...**/	
	
	.linha{
		width: 100%;
		overflow: auto;
		padding: 5px;
		margin: 0px;
		display: flex;
		float: center;
		gap: 5px;
	}
	.coluna{
		padding: 5px;
		float: left;
	}
	.flex{ display: flex;}
/***************************************************************************/
/***Inserindo as partições em blocos da página...**/
/***Ou utilizando a largura atual da pagina dividido por 10 partes... 
/***Este resultado sera o col1 e multiplicando pelos col demais...**/

	.col1{
		width: 10%;
	}
	.col2{
		width: 20%;
	}
	.col3{
		width: 30%;
	}
	.col4{
		width: 40%;
	}
	.col5{
		width: 50%;
	}
	.col6{
		width: 60%;
	}
	.col7{
		width: 70%;
	}
	.col8{
		width: 80%;
	}
	.col9{
		width: 90%
	}
	.col10{
		width: 100%;
	}

	.box-message{
		margin-left: 18%;
	}
	